{% extends 'booking/base.html' %}
{% block title %}My Reservations{% endblock %}
{% block content %}
<h2 class="mt-4">My Reservations</h2>
<div class="card">
    <div class="card-body">
        <ul class="list-group">
            {% for reservation in reservations %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        {{ reservation.reservation_time|date:"D, M d, Y" }} at {{ reservation.reservation_time|time:"h:i A" }}
                        - {{ reservation.number_of_guests }} guests
                    </span>
                    <span>
                        <a href="{% url 'edit_reservation' reservation.pk %}" class="btn btn-primary btn-sm ml-2">Edit</a>
                        <a href="{% url 'delete_reservation' reservation.pk %}" class="btn btn-danger btn-sm ml-2">Delete</a>
                    </span>
                </li>
            {% empty %}
                <li class="list-group-item">You have no reservations.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
